* {
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
}
:root {
    --bg: #FFFFFF;
    --cl: #000000;
    --fc: #FF5722;
}
html {
    font-size: 16px;
}
body {
    background-color: var(--bg);
    color: var(--cl);
    min-height: 100vh;
    padding: 1rem;
}
h1, h2, h3, section, label, input, textarea, select {
    display: block;
    width: 100%;
}
section, select, input, textarea, select {
    margin-bottom: 1rem;
}
h1, h2, h3 {
    font-weight: 600;
    margin: 0.5rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 2.0rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
label, input, textarea, select, button {
    font-size: 1rem;
}
input, textarea, select, button {
    border: solid 1px var(--cl);
}
input, textarea, select {
    padding: 0.5rem;
}
textarea {
    min-height: 6rem;
    resize: vertical;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button:hover {
    background-color: var(--cl);
    color: var(--bg);
}



container-box {
    display: block;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--cl);
    padding: 0;
}
container-box > header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1px;
    border-bottom: solid 1px var(--cl);
    background-color: var(--cl);
}
container-box > header > i {
    flex: 1 1 auto;
    background-color: var(--bg);
    color: var(--cl);
    padding: 0.5rem 1rem;
    cursor: pointer;
}
container-box > header > i:hover {
    background-color: var(--cl);
    color: var(--bg);
}
container-box > main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    width: auto;
    padding: 1rem;
    min-height: calc(100vh - 12rem);
}
container-box > main > * {
    flex: 0 0 max-content;
}
container-box > main > textarea {
    flex: 1 1 auto;
}
.lean {
    display: block;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
}
.fw {
    width: 100%;
}
.card {
    display: block;
    padding: 1rem;
    border: solid 1px var(--cl);
}
.ctr {
    text-align: center;
}
.line {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
}
.line > * {
    flex: 0 0 max-content;
}
.line > div {
    flex: 1 1 auto;
}
.hide {
    display: none;
}
